body{
background: #66CDAA

}
h2 {
    font-size: 42pt;
    font-weight: 200;
    padding: 20px;
border: 3px solid black

}

nav>ul>li {
display: inline-block;
opacity: .75;
border: 2px solid red;
padding: 15px
}

section > #puppy{
    width: 600px;

    }

section > p {
    text-align: left;
    text-indent: 7%;
    border: 6px solid orange
   

 }

footer > p{
    text-align: right;
opacity: .45;

}